.hud {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  a {
    padding: 0;
  }
}
